{
    "name": "test-calico",
    "cniVersion": "{{ cni_version }}",
    "plugins": [
      {
        "type": "calico",
        "ipam": {
            "type": "calico-ipam"
        },
    "etcd_endpoints": "{{ etcd_endpoint }}"
      }
    ]  
}