{
    "name": "test-calico",
    "cniVersion": "{{ cni_version }}",
    "etcd_endpoints" : "{{ etcd_endpoint }}",
    "plugins": [
      {
        "type": "calico",
        "ipam": {
            "type": "calico-ipam"
        }
      }
    ]
}